*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    background:#f4efe6;

    min-height:100vh;
}

.contenedor{

    width:100%;
}

.volver{

    position:absolute;

    top:20px;

    left:20px;

    z-index:100;

    background:rgba(0,0,0,0.5);

    color:white;

    border:none;

    padding:12px 18px;

    border-radius:12px;

    cursor:pointer;

    backdrop-filter:blur(5px);
}

.tarjeta{

    width:100%;
}

.tarjeta img{

    width:100%;

    height:85vh;

    object-fit:center;
}

.hero{

    position:relative;
}

.overlay{

    position:absolute;

    bottom:0;

    left:0;

    width:100%;

    padding:60px 25px 30px;

    background:linear-gradient(
        transparent,
        rgba(0,0,0,0.85)
    );
}

.overlay h1{

    color:white;

    font-size:48px;

    margin-bottom:10px;
}

.estrellas{

    color:#FFD700;

    font-size:28px;

    margin-bottom:10px;
}

.subtitulo{

    color:white;

    opacity:0.9;

    font-size:18px;
}

.info{

    max-width:1000px;

    margin:auto;

    padding:40px 25px;
}

.bloque{

    background:white;

    margin-bottom:20px;

    padding:25px;

    border-radius:20px;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.08);
}

.bloque h2{

    color:#29512d;

    margin-bottom:15px;
}

.bloque p{

    color:#555;

    line-height:1.8;
}

.bloque ul{

    margin-left:20px;

    color:#555;

    line-height:1.8;
}

@media(max-width:768px){

    .tarjeta img{

        height:50vh;
    }

    .overlay h1{

        font-size:34px;
    }

    .estrellas{

        font-size:22px;
    }

    .subtitulo{

        font-size:16px;
    }
}
.calificacion{

    font-size:40px;

    cursor:pointer;

    user-select:none;
}

.estrella{

    transition:0.2s;
}

.estrella:hover{

    transform:scale(1.2);
}

#resultado{

    margin-top:10px;

    color:#ebe709;

    font-weight:bold;
}
.galeria{

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:15px;

    margin-top:20px;
}

.galeria img{

    width:100%;

    height:180px;

    object-fit:cover;

    border-radius:15px;

    cursor:pointer;

    transition:0.3s;
}

.galeria img:hover{

    transform:scale(1.05);
}